@import "tailwindcss";

:root {
  --foreground-rgb: 229, 231, 235; /* Light Gray Text */
  --background-start-rgb: 17, 24, 39; /* Dark Gray Background */
  --background-end-rgb: 17, 24, 39; /* Dark Gray Background */
  --accent: #38bdf8; /* Vibrant Blue Accent */
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
